.section {
    padding: 60px 0;
}

.section--blog {
    .section__head {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h2 {
            font-weight: 400;
            font-size: 40px;
            text-transform: capitalize;
        }

        .section__link-wrapper {
            max-width: 233px;
            width: 100%;
            display: flex;
            justify-content: center;

            a {
                width: 210px;
                height: 51px;
                background: transparent;
                box-shadow: 0px 0px 15.74px 0px #5800ff9e;
                border: 2.55px solid #5800ff;
                text-transform: capitalize;

                &:hover {
                    width: 100%;
                    border: 2.55px solid #01f59d;
                    box-shadow: 0px 0px 15.74px 0px #01f59d;
                }
            }
        }
    }
}
