.possibilities {
    &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;

        @media (max-width: 576px) {
            flex-direction: column;
            gap: 15px;
            text-align: center;
        }

        h2 {
            font-weight: 500;
            font-size: 45px;
            line-height: 1.2;

            @media (max-width: 768px) {
                font-size: 32px;
            }
        }

        p {
            font-family: Alexandria;
            font-weight: 300;
            font-size: 15px;
            line-height: 1.3;
        }
    }

    &__wrapper {
        display: grid;
        gap: 30px;
    }
}

.possibility {
    display: flex;
    gap: 30px;

    @media (max-width: 990px) {
        flex-direction: column;
    }

    &--2 {
        @media (max-width: 990px) {
            flex-direction: column-reverse;
        }
    }

    &__info {
        flex: 1;
        padding: 45px;
        background-color: #160a2e;
        border-radius: 43px;

        @media (max-width: 768px) {
            padding: 30px;
        }

        h2 {
            font-weight: 500;
            font-size: 30px;
            line-height: 1.2;
            margin-bottom: 30px;

            @media (max-width: 768px) {
                font-size: 24px;
            }
        }

        p {
            font-weight: 300;
            font-size: 15px;
            line-height: 1.3;
        }
    }

    &__image {
        flex: 1;
        max-width: 495px;
        border-radius: 43px;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
