.section--rewiews {
    h2.section__title {
        text-align: center;
        font-size: 40px;
        margin-bottom: 10px;

        @media (max-width: 576px) {
            font-size: 28px;
        }
    }

    p.section__subtitle {
        font-size: 15px;
        font-weight: 300;
        text-align: center;
        margin-bottom: 30px;
    }
}

.rewiew-slider {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;

    &__wrapper {
        padding: 0 15px;
    }

    &__slide {
        height: auto !important;
    }
}

.rewiew {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: rgba(255, 255, 255, 0.09);
    padding: 30px;
    border: 1px solid #fff;
    border-radius: 35px;
    height: 100%;

    &__title {
        font-weight: 600;
        font-size: 22px;
        line-height: 100%;
        letter-spacing: 0.3px;
        text-transform: capitalize;
    }

    &__desc {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.3;
        letter-spacing: 0.2px;
    }

    &__info {
        display: flex;
        align-items: center;
        gap: 15px;
        margin-top: auto;
    }

    &__image {
        width: 50px;
        min-width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        border-radius: 15px;
        overflow: hidden;

        &--3 {
            background-color: #b769a7;
        }

        &--5 {
            background-color: #140f13;
        }
    }

    &__author {
        font-weight: 500;
        font-size: 20px;
        text-transform: capitalize;
        letter-spacing: 0.3px;
    }

    &__role {
        font-family: Alexandria;
        font-weight: 400;
        font-size: 15px;
        letter-spacing: 0.5px;
    }
}
